// $duration: 2s;
body {
  background: #E0113A;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 120px;
}
.circle-container {
  width: 200px;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
}
.circle-container::after{
  content: '';
  top: auto;
  position: absolute;
  display: block;
  bottom: 0em;
  left: cal(50% - 0.5em);
  height: .25em;
  width: 1em;
  border-radius: 50%;
  background-color: #034466;
  opacity: 0.3;
  animation: shadow $duration infinite linear;
}
.circle {
  margin: auto;
  left: -9999px;
  right: -9999px;
  top: -9999px;
  bottom: -9999px
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius:50%;
  background: #fff;
  animation: animation $duration infinite linear;
}
